{% extends 'team_eds/layout.html' %}
{% load static %}

{% block css %} {% endblock %}

{% block main %} 
<div class="row">
    <div class="container mt-5">
        <h4 class="text-center alert alert-info heading"  > HR CONTACT DETAILS</h4>
        
        <table class="table table-striped" style="background-color:#472a99;">
        <thead>

            <tr>
            <th scope="col" class="scope">Name</th>
            <th scope="col" class="scope">Company Name</th>
            <th scope="col" class="scope">Contact</th>
            <th scope="col" class="scope">Status</th>

            </tr>
        </thead>
        <tbody>
            {% for h in hr_prog %}
               
            <tr>
                <td>{{h.fullname}}</td>
                <td>{{h.companyname}}</td>
                <td>{{h.email}}</td>
                <td>{{h.mobile}}</td>
                <td>{{h.status}}</td>
                <td>{{h.interview}}</td>
                <td>{{h.hrcount}}</td>
                <td>{{h.dept}}</td>
                <td>{{h.transport}}</td>
                <td>{{h.extra_comments}}</td>
            </tr>
           
        {% endfor %}
           
        </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %} {% endblock %}