{% extends 'team_eds/layout.html' %}
{% load static %}

{% block css %} 
{% endblock %}

{% block main %} 
<div class="row">
        <h4 class="text-center alert alert-info"> HR CONTACT DETAILS</h4>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form class="form-inline" method="GET">
                        {{myFilter.form}}
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                <div>
            </div>
        </div>
        <a href="{% url 'file_load_view' %}">export data</a>
        <table class="table table-striped ">
        <thead>

            <tr>
            <th scope="col">Added By</th>
            <th scope="col">HR Name</th>
            <th scope="col">Company Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Status</th>
            <th scope="col">Interview Mode</th>
            <th scope="col">HR Count</th>
            <th scope="col">Department</th>
            <th scope="col">Transport</th>
            <th scope="col">Extra Comments</th>
            
            
            </tr>
        </thead>
        <tbody>
                {% for h in hrs %}

            <tr>
                <td>{{h.added_by.fullname}}</td>
                <td>{{h.fullname}}</td>
                <td>{{h.companyname}}</td>
                <td>{{h.email}}</td>
                <td>{{h.mobile}}</td>
                <td>{{h.status}}</td>
                <td>{{h.interview}}</td>
                <td>{{h.hrcount}}</td>
                <td>{{h.dept}}</td>
                <td>{{h.transport}}</td>
                <td>{{h.extra_comments}}</td>
                
            </tr>

            {% endfor %}
    
        </tbody>
        </table>
    
</div>
{% endblock %}

{% block js %} {% endblock %}