{% extends 'team_eds/layout.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block main %} 

<div class="row">
    <div class="circle">
        <h2 class="circleDot">GLOBAL HR CONTACT</h2>
    </div>
        
        <div class="row">
            <div class="col">
                
                    <div class="d-flex flex-wrap">
                    <form class="form-inline" method="GET" style="font-size: small;">
                        {{myFilter.form}}
                        <button class="btn btn-primary btn-sm" type="submit">Search</button>
                        <a href="{% url 'file_load_view' %}"> &nbsp;<i class="fa fa-download fa-lg" style="color:red"></i></a>
                    </form>
                    <br><br><br>
              
                <div>
            </div>
        </div>
        
        
        <table class="table table-striped " >
        <thead style="background-color:#472a99;">

            <tr>
            <th scope="col" class="scope">Added By</th>
            <th scope="col" class="scope">HR Name</th>
            <th scope="col" class="scope">Company Name</th>
            <th scope="col" class="scope">Email</th>
            <th scope="col" class="scope">Contact</th>
            <th scope="col" class="scope">Status</th>
            <th scope="col" class="scope">Interview Mode</th>
            <th scope="col" class="scope">HR Count</th>
            <th scope="col" class="scope">Department</th>
            <th scope="col" class="scope">Transport</th>
            <th scope="col" class="scope">Extra Comments</th>
            <th scope="col" class="scope">Address</th>
            
            
            </tr>
        </thead>
        <tbody>
                {% for h in hrs %}

            <tr>
                <td>{{h.added_by.fullname}}</td>
                <td>{{h.fullname}}</td>
                <td>{{h.companyname}}</td>
                <td>{{h.email}}</td>
                <td>{{h.mobile}}</td>
                <td>{{h.status}}</td>
                <td>{{h.interview}}</td>
                <td>{{h.hrcount}}</td>
                <td>{{h.dept}}</td>
                <td>{{h.transport}}</td>
                <td>{{h.extra_comments}}</td>
                <td>{{h.address}}</td>
                
            </tr>

            {% endfor %}
    
        </tbody>
        </table>
    
</div>
{% endblock %}

{% block js %} {% endblock %}