{% extends 'hr_features/layout.html' %}
{% load static %}

{% block css %} 
<style>
    #section1{
        background-color:#472a99;
    }
    #section3{
        background-color:#472a99;
    }
    #section2{
        background-color:#000;
    }
    #multiCollapseExample1{
        background-color:#000;
        color:white;
    }
    #multiCollapseExample2{
        background-color:#000;
        color:white;
    }
    #violet{
        background-color:#472a99;
    }
    #violet2{
        background-color:#472a99;
    }
</style>
{% endblock %}
{% block main %}

<div class="container">
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
  <div class="circle">
    <h2 class="circleDot">SAMPLE MAILER</h2>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#section1">INVITATION MAILER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">CONFIRMATION MAILER</a>
      </li>
    </ul>
  </div>
</nav>

<div id="section1" class="container-fluid text-white" style="padding:40px 20px;">
    <br>
  <h1>INVITATION MAILER</h1>
  <br>
  <pre>
    Dear Sir/Ma’am,

    Greetings from Sri Venkateswara College of Engineering. Hope you are doing well and are safe.
    As we had discussed on our call, the particulars of the event have been included with a formal 
    invitation for you and your colleagues. The online event will be held on the 27th of February 
    (Sunday) through Google Meet and the offline event on the 6th March (Sunday) for all departments
     in the college premises. The event is scheduled to begin at 9:30 AM and conclude by 3:00 PM.
    Kindly refer to the attached file to this mailer for additional details. Kindly let us know a 
    date that is convenient for you. Contact us at the number provided in case there are any further 
    clarifications regarding the online framework along with proceedings of the event.
    We would be privileged to have you aboard and we fondly await your partaking.
    
    Thank you.
    
    Forese Website Link: forese-website.netlify.app
    Forese Linkedin Link: www.linkedin.com/company/forese/
  </pre>
  <pre>
    The Forum for Economic Studies by Engineers and the Placement Cell of SVCE extends you a gracious 
    welcome to ‘Mock Placements 2022’. We are delighted to convey that the Mock Placements has been our
    flagship event for a long time. Students are offered a unique opportunity to confront the placement
    process beforehand, which allows them to equip and improve their academic and communicational skills. 
    It’s an eccentric feat that SVCE continuously strives to provide this unique chance to its students. 
    This year, the Mock placements will be hosted in both online and offline mode due to covid and also to 
    increase the geographical scope of opportunities. We look forward to your acceptance in taking part in 
    the event.
  </pre>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #f2edf7;">
          <strong>ONLINE</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="background-color:#000; color:white;">
          <pre>
            The online interviews will take place on 27th February over Google meet platform. 
            The interviews will be held from 9:30 AM till 3:00 PM. The required login credentials
            will be mailed to the HRs prior to the event. The students get to experience personal
            one-on-one interview sessions with the HRs through breakout rooms.

          </pre>
        </div>
      </div>
    </div>
</div>

<br>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="background-color: #f2edf7;">
        <strong>OFFLINE</strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body" style="background-color:#000; color:white;">
        <pre>
          The offline mock placements will take place on 6th March at the college premises. 
          The event will commence at 9:30 A.M and conclude at 3:00 P.M. The HR officers will
          be provided with necessary transport facilities. The company executives will be personally
          escorted to the sanitized rooms where the interviews will be conducted. Breakfast, lunch,
          and refreshments will be provided. Sanitary kits will be handed out to every company 
          executive and all safety protocols will be duly followed. Any other arrangements appealed
          will be tailored according to your specifications. Our team will be delighted  to have you
          at our event. For any clarifications regarding any of the details, please do contact the
          mentioned number in the email. 


        </pre>
      </div>
    </div>
  </div>

</div>
<br>
<pre>
  Our team will be delighted  to have you at our event. For any clarifications regarding any of the 
  details, please do contact the mentioned number in the email. 
</pre>
</div>

<div id="section2" class="container-fluid text-white" style="padding:100px 20px;">
  <h1>CONFIRMATION MAILER</h1>
  <pre>
    Dear Sir, 

    We take this opportunity to thank you for your assistance and participation in the Mock Placements 2021 
    hosted at Sri Venkateswara College of Engineering. The team hosting this event will reach out to you 
    with the particulars of the event to be conducted on X/X/2021. The details for the transport arrangements 
    will be sent to you shortly. All the Covid-19 protocols will be followed as per the latest guidelines. 
    We look forward to joining you soon. We are grateful for your efforts despite your busy schedule.
    
    Thank you.
    Regards,
    XXXXX
    
    Forese Website Link: forese-website.netlify.app
    Forese Linkedin Link: www.linkedin.com/company/forese/

   
  </pre>
  <p>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #f2edf7;">
            <strong>ONLINE</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="background-color:#472a99;; color:white;">
            <pre>
                    Dear Sir, 

                    We take this opportunity to thank you for your assistance and participation in the Mock Placements
                    2021 hosted at Sri Venkateswara College of Engineering. The team hosting this event will reach out
                    to you with the particulars of the event to be conducted on X/X/2021. The respective meet links and
                    login credentials will be sent shortly and you’ll be guided by our team members . We look forward to
                    joining you soon. We are grateful for your efforts despite your busy schedule.

                    Thank you.
                    Regards,
                    XXXXX

                    Forese Website Link: forese-website.netlify.app
                    Forese Linkedin Link: www.linkedin.com/company/forese/

            </pre>
          </div>
        </div>
      </div>

 
</div>
</div>


</div>
</body>
</html>

{% endblock %}