{% extends 'hr_features/layout.html' %}
{% load static %}

{% block css %} 
<style>
  body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2edf7;
  }
    .modal-header{
        background-color:white;
        color:black;
        font-size:large;
    }
    .scope {
      background-color: #472a99;
      color: white;
      text-align:left;
    }


</style>
{% endblock %}

{% block main %} 
<div class="row">
  <div class="circle">
    <h2 class="circleDot">HR CONTACT DETAILS</h2>
</div>
    <div class="d-flex p-4">
        <table class="table table-striped">
        <thead style="background-color:#472a99;">
            <tr>
            <th scope="col" class="scope" >HR Name</th>
            <th scope="col" class="scope">Company Name</th>
            <th scope="col" class="scope">Contact</th>
            <th scope="col" class="scope">Status</th>
            
            <th scope="col" class="scope">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for hr in hrs %}
            <tr>
                <td>{{hr.fullname}}</td>
                <td>{{hr.companyname}}</td>
                <td>{{hr.mobile}}</td>
                <td>{{hr.status}}</td>
                
        
                <td><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#HR{{hr.pk}}" style="background-color:white; border-color:#472a99"><i class="fa fa-angle-double-down fa-lg" style="color:green"></i></button>

                    <div class="modal fade bd-example-modal-lg"id="HR{{hr.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title">HR DETAILS</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>                
                            </div>
                            <div class="modal-body">
                                <table style="width:100%">
                                    <tr>
                                      <th>HR Name</th>
                                      <td>{{hr.fullname}}</td>
                                    </tr>
                                    <tr>
                                      <th>Company Name</th>
                                      <td>{{hr.companyname}}</td>
                                    </tr>
                                    <tr>
                                      <th>Contact</th>
                                      <td>{{hr.mobile}}</td>
                                    </tr>
                                    <tr>
                                      <th>Email</th>
                                      <td>{{hr.email}}</td>
                                    </tr>
                                    <tr>
                                      <th>Status</th>
                                      <td>{{hr.status}}</td>
                                    </tr>
                                    <tr>
                                      <th>Interview Mode</th>
                                      <td>{{hr.interview}}</td>
                                    </tr>
                                    <tr>
                                      <th>HR Count</th>
                                      <td>{{hr.hrcount}}</td>
                                    </tr>
                                    <tr>
                                      <th>Department</th>
                                      <td>{{hr.dept}}</td>
                                    </tr>
                                    <tr>
                                      <th>Transport</th>
                                      <td>{{hr.transport}}</td>
                                    </tr>
                                    <tr>
                                      <th>Internship</th>
                                      <td>{{hr.internship}}</td>
                                    </tr>
                                    <tr>
                                      <th>Created on</th>
                                      <td>{{hr.dtoc}}</td>
                                    </tr>
                                    <tr>
                                      <th>Extra Comments</th>
                                      <td>{{hr.extra_comments}}</td>
                                    </tr>
                                    <tr>
                                      <th>Address</th>
                                      <td>{{hr.address}}</td>
                                    </tr>
                                    <tr>
                                      <th>Actions</th>
                                      <td><a href="{% url 'update_hr' id=hr.pk %}"><i class="fa fa-edit fa-lg" style="color:blue"></i></a>&nbsp;&nbsp;<a href="{% url 'delete_hr' id=hr.pk %}" onclick="return confirmDelete();"><i class="fa fa-trash fa-lg" style="color:red"></i></a></td>
                                    </tr>
                                    
                                </table>
                                    
                            
                            </div>
                        </div>
                      </div>
                    </div>
                  </td>
            </tr>
            
            {% endfor %}

        </tbody>
        </table>

       
    </div>
</div>
{% endblock %}

{% block js %} 
<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
})

</script>

<script>
function confirmDelete(){
    var res=confirm("Are you sure you want to delete this Hr Contact? It will be deleted permanently");
    if (res){
       return true;
}
else{
    return false;
}
}
</script>
{% endblock %}